{% extends "layout.html" %}
{% block title %}
    Danh Sách Khách Hàng
{% endblock %}
{% block content %}
<div class="product-management">
    <div class="product-header">
        <h2> Danh Sách Khách Hàng</h2>
    </div>

    <div class="customer-actions">
        <a href="/add-customer" class="btn btn-primary">Thêm Khách Hàng</a>
    </div>
    <div class="customer-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                {% for index, customer in enumerate(customers) %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.address.street }}, {{ customer.address.city }}, {{ customer.address.postal_code }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.email }}</td>
                        <td>
                            <a href="/edit_customer?id={{ customer['_id']['$oid'] }}" class="btn btn-warning">Sửa</a>
                            <button class="btn btn-danger" onclick="deleteCustomer(this)" data-id="{{ customer.customer_id }}">Xóa</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>        
</div>

{% endblock %}