<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Application{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <div class="app-name">
            <h2>Quản Lý Giao Nhận Hóa Mỹ Phẩm</h2>
        </div>
        <div class="user-info">
            <p>Xin chào, <strong>{{ username }}</strong></p>
            <a href="/logout">Đăng Xuất</a>
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            <ul class="functions-list">
                <li><a href="/customer-list">Quản Lý Khách Hàng</a></li>
                <li><a href="/locations">Quản Lý Địa Điểm Khách Hàng</a></li>
                <li><a href="/products">Danh Mục Mỹ Phẩm</a></li>
                <li><a href="/order-list">Danh Mục Đơn Hàng</a></li>
                <li><a href="/delivery">Giao Hàng</a></li>
            </ul>
        </div>

        <main class="main-content">
            {% block content %}
            <img src="/static/images/register2.jpg" alt="Hình ảnh" style="width: 100%; height: auto;"> <!-- Thêm thẻ <img> -->
            {% endblock %}
        </main>
    </div>

</body>
</html>