{% extends "layout.html" %}
{% block title %}
    Danh Sách Đơn Hàng
{% endblock %}
{% block content %}
<div class="management">
    <div class="header">
        <h2> Danh Sách Đơn Hàng</h2>
    </div>

    <div class="actions">
        <a href="/add-order" class="btn btn-primary">Thêm Đơn Hàng</a>
    </div>
    <div class="list">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã Đơn Hàng</th>
                    <th>Khách Hàng</th>
                    <th>Tổng Giá</th>
                    <th>Ngày Đặt</th>
                    <th>Trạng Thái</th>
                </tr>
            </thead>
            <tbody>
                {% for index, order in enumerate(orders) %}
                <tr>
                    <td>{{ index + 1 }}</td> 
                    <td class="textbox-id" onclick="window.location.href='/order-detail/{{ order['order_id'] }}'">
                        {{ order['order_id'] }}
                    </td>
                    <td>{{ order['customer_id'] }}</td>
                    <td>{{ order['total_price'] }}</td>
                    <td>{{ order['order_date'] }}</td>
                    <td>{{ order['status'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>        
</div>

{% endblock %}