{% extends "layout.html" %}
{% block title %}
    Danh Sách Sản Phẩm
{% endblock %}
{% block content %}
    <div class="management">
        <div class="header">
            <h2>Danh Mục Mỹ Phẩm</h2>
        </div>
        <div class="actions row">
            <button class="btn-add col-1 p-0" data-bs-toggle="modal" data-bs-target="#addProductModal">Thêm Sản Phẩm</button>
            <div class="col-2">
                <form method="GET" action="/products">
                    <div class="form-group">
                        <label for="category">Chọn Chủng Loại:</label>
                        <select name="category" id="category" class="form-control">
                            <option value="">Tất Cả</option>
                            <option value="Skincare">Skincare</option>
                            <option value="Cosmetics">Cosmetics</option>
                            <option value="Haircare">Haircare</option>
                            <option value="Detoxss">Detoxss</option>
                            <option value="Exfoliating Products">Exfoliating Products</option>
                            <option value="Anti-aging Products">Anti-aging Products</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Lọc</button>
                </form>
            </div>
            <div class="col-2">
                <div class="list-group">
                    <a href="?filter=most_selling" class="list-group-item list-group-item-action">Sản Phẩm Bán Nhiều Nhất</a>
                    <a href="?filter=least_selling" class="list-group-item list-group-item-action">Sản Phẩm Bán Ít Nhất</a>
                    <a href="?filter=unsold" class="list-group-item list-group-item-action">Sản Phẩm Chưa Được Mua</a>
                  </div>
            </div>
        </div>
        
        <div class="product-list">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên</th>
                        <th>Thương hiệu</th>
                        <th>Loại</th>
                        <th>Giá</th>
                        <th>Tồn Kho</th>
                        <th>Nhà cung cấp</th>
                        <th>Mô tả</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ loop.index }}</td> 
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.supplier_id }}</td>
                            <td>{{ product.description }}</td>
                            <td>
                                <button type="button" class="btn-edit col" data-bs-toggle="modal" data-bs-target="#editProductModal" onclick="editProduct('{{ product['product_id'] }}', '{{ product['name'] }}', '{{ product['category'] }}', '{{ product['brand'] }}', '{{ product[price] }}', '{{ product[stock] }}', '{{ product[supplier_id] }}', '{{ product['description'] }}')">
                                    Sửa
                                </button>
                                <form action="{{ url_for('product_bp.delete_product', product_id=product['product_id']) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn-delete col" onclick="return confirm('Bạn có chắc chắn muốn xóa sẩn phẩm này không?');">Xóa</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addProductLabel">Thêm Sản Phẩm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="productAddForm" action="/add-product" method="POST">
                        <div class="form-group">
                            <label for="product_id" class="form-label">Mã Sản Phẩm</label>
                            <input type="text" class="form-control" id="product_id" name="product_id" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Tên Sản Phẩm:</label>
                            <input type="text" class="form-control" name="name" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="category">Danh Mục:</label>
                            <input type="text" class="form-control" name="category" id="category" required>
                        </div>
                        <div class="form-group">
                            <label for="brand">Thương Hiệu:</label>
                            <input type="text" class="form-control" name="brand" id="brand" required>
                        </div>
                        <div class="form-group">
                            <label for="price">Giá:</label>
                            <input type="number" class="form-control" name="price" id="price" required>
                        </div>
                        <div class="form-group">
                            <label for="stock">Số Lượng Tồn Kho:</label>
                            <input type="number" class="form-control" name="stock" id="stock" required>
                        </div>
                        <div class="form-group">
                            <label for="supplier_id">Nhà Cung Cấp:</label>
                            <select id="supplier_id" name="supplier_id" required>
                                {% for supplier in suppliers %}
                                <option value="{{ supplier['supplier_id'] }}">
                                    {{ supplier['supplier_id'] }} - {{ supplier['name'] }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Mô Tả Sản Phẩm:</label>
                            <textarea class="form-control" name="description" id="description" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở lại</button>
                    <button type="submit" class="btn btn-primary" form="productAddForm">Thêm Sản Phẩm</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editProductLabel">Sửa Sản Phẩm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="productEditForm" action="/update-product" method="POST">
                        <div class="form-group">
                            <label for="product_id_edit" class="form-label">Mã Sản Phẩm</label>
                            <input type="text" class="form-control" id="product_id_edit" name="product_id_edit" required readonly>
                        </div>
                        <div class="form-group">
                            <label for="name_edit">Tên Sản Phẩm:</label>
                            <input type="text" class="form-control" name="name_edit" id="name_edit" required>
                        </div>
                        <div class="form-group">
                            <label for="category_edit">Danh Mục:</label>
                            <input type="text" class="form-control" name="category_edit" id="category_edit" required>
                        </div>
                        <div class="form-group">
                            <label for="brand_edit">Thương Hiệu:</label>
                            <input type="text" class="form-control" name="brand_edit" id="brand_edit" required>
                        </div>
                        <div class="form-group">
                            <label for="price_edit">Giá:</label>
                            <input type="number" class="form-control" name="price_edit" id="price_edit" required>
                        </div>
                        <div class="form-group">
                            <label for="stock_edit">Số Lượng Tồn Kho:</label>
                            <input type="number" class="form-control" name="stock_edit" id="stock_edit" required>
                        </div>
                        <div class="form-group">
                            <label for="supplier_id_edit">Nhà Cung Cấp:</label>
                            <input type="text" class="form-control" name="supplier_id_edit" id="supplier_id_edit" required>
                        </div>
                        <div class="form-group">
                            <label for="description_edit">Mô Tả Sản Phẩm:</label>
                            <textarea class="form-control" name="description_edit" id="description_edit" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở lại</button>
                    <button type="submit" class="btn btn-primary" form="productEditForm">Lưu Thay Đổi</button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}