{% extends "layout.html" %}
{% block title %}
    Danh Sách Sản Phẩm
{% endblock %}
{% block content %}
    <div class="management">
        <div class="header">
            <h2>Danh Mục Mỹ Phẩm</h2>
        </div>
        <div class="actions">
            <a href="/add-product" class="btn btn-primary">Thêm Sản Phẩm</a>
        </div>
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên</th>
                        <th>Thương hiệu</th>
                        <th>Loại</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, product in enumerate(products) %}
                        <tr>
                            <td>{{ loop.index }}</td> 
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.stock }}</td>
                            <td>
                                <a href="/edit_product.html/{{ product._id }}" class="btn btn-warning">Sửa</a>
                                <form action="{{ url_for('product_bp.delete_product', product_id=product['product_id']) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn-delete" onclick="return confirm('Bạn có chắc chắn muốn xóa sẩn phẩm này không?');">Xóa</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
{% endblock %}